@charset "UTF-8";
/** VARIABLES COLOR **/

:root{
  --negro-textos: black;
  --gris-submenu: #272727;
  --gris-hover: grey;
  --fondo-general: white;
  --fondo-header: white;
  --fondo-footer: white;
  --linea-footer: #00000050;
}

/** RESET **/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: var(--negro-textos);
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

body {
  color: var(--negro-textos);
  font-family: "Open Sans", sans-serif;
  background-color: var(--fondo-general);
}

/** HEADER Y MENU PRINCIPAL **/
.header {
  width: 100%;
  margin: 0;
  padding: 40px 0;
  background-color: var(--fondo-header);
  position: relative;
}
.header__center {
  width: 75%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}
.header__span {
  display: none;
}
.header__logo {
  width: 120px;
  max-height: 23px;
  object-fit: contain;
  display: block;
}
.header__nav {
  width: calc( 100% - 50px );
  display: flex;
}
@media screen and (max-width: 1100px) {
  .header__nav {
    width: 100%;
    padding-bottom: 50px;
    background-color: var(--fondo-header);
    top: 90px;
    left: 0;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    position: absolute;
  }
}
.header__nav.ver {
  display: flex;
  opacity: 1;
  transform: translateX(0%);
}
.header__ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: initial;
}
@media screen and (max-width: 1100px) {
  .header__ul {
    width: 75%;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__li {
  margin: 0 0 0 3%;
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: relative;
}
.header__li:hover .header__ul2 {
  display: block;
  pointer-events: visible;
  opacity: 100%;
  transition: all 0.9s ease;
}
@media screen and (max-width: 1100px) {
  .header__li {
    margin: 1em 0;
  }
}
.header__item:hover {
  color: var(--gris-hover);
  display: block;
}
.header__ul2 {
  min-width: 18em;
  padding: 0 1em;
  border-top: solid 12px var(--fondo-header);
  background-color: var(--gris-submenu);
  pointer-events: none;
  opacity: 0%;
  position: absolute;
}
@media screen and (max-width: 1100px) {
  .header__ul2 {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .header__li2 {
    display: none;
  }
}
.header__subitem {
  margin: 1em 0;
  color: white;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.header__subitem:hover {
  color: var(--gris-hover);
}
@media screen and (max-width: 1100px) {
  .header__subitem {
    display: none;
  }
}

/** MENU MÓVIL **/
.header .fas {
  display: none;
}
@media screen and (max-width: 1100px) {
  .header .fas {
    color: var(--negro-textos);
    font-size: 1.3em;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
  }
}

/** MAIN: BANNER PRINCIPAL **/
.main {
  background-color: var(--fondo-general);
}
.main__banner {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/img/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.main__bannerlogo {
  width: 90%;
  max-width: 760px;
  min-height: 50px;
  margin: auto;
  margin-top: 11em;
}
.main__center {
  width: 100%;
  margin: 9em 0;
}
@media screen and (max-width: 800px) {
  .main__center {
    margin: 4em 0;
  }
}
.main__h2 {
  width: 100%;
  margin-top: 2.5em;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.main__colums {
  width: 75%;
  margin: auto;
  display: grid;
  align-items: top;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
@media screen and (max-width: 800px) {
  .main__colums {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5em;
  }
}
.main__col:hover {
  color: var(--gris-hover);
}

/** FOOTER **/
.footer {
  width: 100%;
  margin: auto;
  padding: 1em;
  background-color: var(--fondo-footer);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.footer__rrss {
  width: 100%;
  margin: 4em auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.footer__red {
  width: 1.8em;
  height: 1.8em;
  margin: 0 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}
.footer__icon {
  color: var(--negro-textos);
  font-size: 1.3em;
}
.footer__icon:hover {
  color: var(--gris-hover);
}
.footer__legal {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--negro-textos);
}
@media screen and (max-width: 800px) {
  .footer__legal {
    letter-spacing: 0.1em;
  }
}
.footer__a {
  margin: 0.3em 0;
  border-bottom: 1px solid var(--linea-footer);
}
.footer__a:hover {
  color: var(--gris-hover);
  border-bottom: 1px solid var(--gris-hover);
}
.footer__barra {
  width: 1px;
  height: 20px;
  margin: 0 0.7em;
  background-color: var(--linea-footer);
  display: block;
}
.footer__copy {
  width: 100%;
  max-width: 760px;
  margin-top: 1.4em;
  margin-bottom: 5.8em;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--negro-textos);
}

/** MODO NOCHE **/
@media screen and (prefers-color-scheme: dark) {
  :root {
    --negro-textos: white;
    --gris-submenu: #020101;
    --gris-hover: grey;
    --fondo-general: black;
    --fondo-header: black;
    --fondo-footer: black;
    --linea-footer: #ffffff40;
  }
}